@import '../../assets/styles/colors.scss';
@include theme{
  .sj-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    span {
      min-width: 54px;
      text-align: center;
      color: #{$text-normal};
    }
    // size
    &.sj-button-large {
      margin: 0 auto;
      width: 200px;
      height: 60px;
      border-radius: 30px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }
    &.sj-button-normal {
      width: 142px;
      height: 46px;
      border-radius: 30px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 2px;
    }
    &.sj-button-small {
      width: 104px;
      height: 36px;
      border-radius: 18px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
    }
    // type
    &.sj-button-default {
      background: #ffffff;
      box-shadow: 0px 16px 40px -16px rgba(196, 196, 196, 0.3);
      span {
        color: $text-normal;
      }
      // &:hover {
      //   background: #efefef;
      // }
    }
    &.sj-button-danger {
      background: #ffffff;
      box-shadow: 0px 16px 40px -16px rgba(196, 196, 196, 0.3);
      span {
        color: $color-danger;
      }
      &:hover {
        background: #efefef;
      }
    }
    
    &.sj-button-primary {
      box-shadow: 0px 16px 40px -16px rgba(255, 214, 0, 0.3);
      @include bgColor($color-theme)
    }
    &.sj-button-disabled {
      background: #ded9d8 !important;
      box-shadow: 0px 16px 40px -16px rgba(183, 183, 183, 0.3);
      opacity: 0.3;
    }
    &.sj-button-active {
        background: $color-theme;
        box-shadow: 0px 16px 40px -16px rgba(255, 184, 0, 0.3);
    }
  }
};
