@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.desc{
  font-size: 16px;
  color: grey;
  text-align: center;
  font-weight: 500;
  width: 100%;
}
.card{
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px double #333; /* 实线边框，颜色为 #333 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 阴影 */
  transition: border-color 0.3s ease; /* 边框颜色变化动画 */
  border-radius: 5px;
}
.card:hover {
  border-color: yellow; /* 鼠标悬停时的边框颜色 */
}
